<div id = "chatBox">
    <div id = "messageList" >
        <div>
            <p> Message 1</p>
        </div>
        <div>
            <p> Message 1</p>
        </div>
    </div>
    <div id = "sendMessageContainer">
        <form action="/send-message" method="post">
            <input type="text" name="message" placeholder="Type message Here">
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>