<li> 
    <% if(locals.user && (locals.user.id == comment.user.id)) {%>
        <a href="/comments/destroy/<%= comment.id %>"> X </a>
        <% } %>
    <%= comment.content %> by : 
    <em><%= comment.user.name %></em>
</li>