<div id="google-sign-in">
    <a href="/users/auth/google">
        <button type="button" class="btn btn-outline-success"> 
            <div id="google-auth-container">
                <div id="google-icon">
                    <i class="fab fa-google"></i>
                </div>
                <div>
                    Register with Google
                </div>
            </div>
        </button>
    </a>
</div>