<link rel="stylesheet" href="/css/home.css">
<div id="detailSection">
    <!-- <h1>Home page</h1> -->
</div>
<div id="homescreen-wall">
    <div id="posts-section">
        <section id="feed-posts">
            <h4> Posts </h4>
            <form action="/posts/create-post" id = "new-form-post" method = "post">
                <textarea name="content" cols="30" rows="5"></textarea>
                <input type="submit" value="Post">
            </form>
        </section>
        <section id="display-posts">
            <div id ="posts-list-container">
                    <% for(post of posts) { %>
                        <%- include('_post.ejs') %>
                    <% } %>
            </div>
        </section>
    </div>
    <div id="friends-section">
        <section id="display-users">
            <h4>Friends</h4>
            <% for(u of all_users) { %> 
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            <% } %>
        </section>
    </div>
</div>





