<form action="/users/create" method="POST">
    <input name="name" type="text" placeholder="UserName" required>
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" required placeholder="Password">
    <input name="confirm_password" type="password" required placeholder="Confirm Password">
    <button type="submit">Sign Up !!</button>
</form> 