#detailSection{
    h1{
        color: blue;
    }
    p{
        color: red;
        &:hover{
            color:black;
        }
    }
}
#homescreen-wall{
    display: flex;
    #posts-section{
        width: 70%;
        padding:10px 0 0 20px;
        #feed-posts{

            #new-post-form{
                #upload-file-btn{
                    margin: 3% 0;
                    #upload-file-container{
                        display: flex;
                        #upload-icon{
                            position: relative;
                            padding-right: 10px;
                        }
                    }
                }
                #post-btn{
                    margin-left: 42.5%;
                }
                width: 70%;
                margin: auto;
                margin-top: 2%;
                padding: 15px;
                border-radius: 20px;
                background: radial-gradient(white, #87416678);
                // background: linear-gradient(131deg, #87ceeb29,#8000806c,#0000ff4b,#00800057,rgba(255, 166, 0, 0.356),#ff000048,#ffff0060, transparent);
                textarea{
                    background: radial-gradient(white, #d8cad178);
                    border:2px solid white;
                }
            }
        }
    }
    #display-posts{
        margin: 5% 0;
        h4{
            text-align: center;
        }
        #posts-list-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .card{
                background:radial-gradient(white, #987b8b78);
                border-radius:20px;
                margin: 1%;
                width: 70%;
                .card-header{
                    position: relative;
                    .fa-calendar-alt{
                        margin-right: 2%;
                    }
                    .like-dislike-section{
                        .like{
                            cursor: pointer;
                        }
                    }
                    .delete-post-button{
                        position: absolute;
                        right:2%;
                        color:#d45252;
                        &:hover{
                            color:#3f2c52;
                        }
                    }
                }
            }
        }
    }
    #friends-section{
        width: 30%;
        padding: 10px;
        #display-users{
            h4{
                text-align: center;
            }
            li{
                position: relative;
                >div{
                    padding: 0 5%;
                }
                .fa-circle{
                    color: green;
                    position: absolute;
                    left: 3%;
                    top: 35%;
                }
            }
            
        }
        #chat-section{
            position: fixed;
            bottom: 0%;
            height: 35%;
            background-color: rgb(185, 164, 206);
            #chatBox{
                display: flex;
                flex-direction: column;
                #messageList{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-height: 80%;
                    > div{
                        
                        width: 60%;
                        margin: 2% 4%;
                        padding: 9px 0 0 8.5px;
                        line-height: 1.5rem;
                    
                    }
                    > div:nth-child(2n){
                        background-color: green;
                        left: 30%; 
                        position: relative;
                    }
                    > div:nth-child(2n+1){
                        background-color: red;
                    }
                }
            }
        }
        // border-left: 1px solid #5b0879;
    }
}

footer{
    // position: absolute !important;
    // bottom: 0%;
    // z-index: 0;
    display: none !important;
}