#detailSection{
    h1{
        color: blue;
    }
    p{
        color: red;
        &:hover{
            color:black;
        }
    }
}
#homescreen-wall{
    display: flex;
    #posts-section{
        width: 70%;
        padding:10px 0 0 20px;
    }
    #friends-section{
        width: 30%;
        padding: 10px;
        // border-left: 1px solid #5b0879;
    }
}