// SCSS Variables
$bg-color:#6f4698;
$bg-color-hover:#deb1c978;

.btn-primary {
    background-color: $bg-color;
    &:hover{
        background-color:$bg-color-hover;
        border-color: transparent;
        box-shadow: 6px 7px 10px 2px #9f6db1;
        color: #370347;
    }
    border-color: #5b0879;
}
body{
    background-color: #deb1c978;
    color: #3f2c52;
}
.form-control:focus,
.form-select:focus, 
.form-check-input:focus,
input:focus{
  box-shadow: inset 0 -1px 0 #ddd;
  border: 0;
  outline: none;
}

#navHeader{
    h4{
        display: inline-block;
        color:#350546;
    }
    background: linear-gradient(to bottom, #9a6c97,#b3a8bf);
    .d-flex{
        .loginInput{
            width: 40%;
        }
        .btn{
            width: 5.2rem;
            height: 2.4rem;
        }
    }
}

.container{
    #frontPoster{
        background-image: url('/images/networkImage.png');
        background-position-y: center;
        overflow: hidden;
        display: inline-block;
        margin-right: 2%;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 20px;
        width: 55%;
        height: 80vh;
    }
    #SignUpSection{
        h3{
            text-align: center;
            color: $bg-color;
        }
        form{
            input{
                background-color: #decce287;
            }
            .form-check{
                .form-check-label{
                    padding-left: 10px;
                }
                display: flex;
            }
            button{
                text-align: center;
            }
        }
        #google-sign-in{
            margin-top: 3.5%;
            border-top: 2px solid #6f3f3f38;
            padding-top: 3.5%;
            #google-auth-container{
                display: flex;
                #google-icon{
                    position: relative;
                    padding-right: 10px;
                }
            }
        }
        animation: fadeInRight;
        animation-duration: 1s;
        color: $bg-color !important;
        // background: radial-gradient(#9e69cc, #d0749d6e);
        background: linear-gradient(131deg, #87ceeb29,#8000806c,#0000ff4b,#00800057,#ff000048,#ffff0060, transparent);
        width: 35%;
        text-align: center;
        position: absolute;
        top: 12.5%;
        border-radius: 20px;
        display: inline-block;
        padding: 15px;
        box-shadow: 0 0 6px 4px mediumpurple;
    }
}

footer{
    h5,p{
        text-align: center;
    }
    width: 100%;
    height: 85px;
    background: linear-gradient(to bottom, #9a6c97, #b3a8bf);
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
}




// Media queries
@media only screen and (max-width: 700px)
{
    #frontPoster{
        display: none;
        width: 2px;
        height: 2px;
    }
}
